<h1 class="text-center">Hey, <%= @username.username %>!</h1>
<br><br>
<h2 class="text-center">Latest Posts:</h2>
<br>
<div align="center">
<% @posts.first(20).reverse.each do |post| %>
    <ol>
   <a href="/post/<%= post.id %>"><%= post.title %></a> | <%= post.created_at %> | Posted By: <%= post.user.username %>
        </ol>
<% end %>
    </div>

<div align="center">
<h2 align="center">Add A Blog Post</h2>
<form method="post" action="/post">
		<label for="title">Title: </label>
    <textarea rows="1" cols="50" type="text" name="title"></textarea>
    <br>
   <textarea type="text" name="body" rows="20" cols="100">Write your entry here...</textarea><br>
   <input type ="submit" value="Add Post">
</form>
</div>